# --- Core Data Science & ML ---
pandas
numpy
matplotlib
seaborn
scikit-learn
imblearn
shap
joblib

# --- API & Deployment ---
flask
flask-cors
gunicorn
requests
streamlit
plotly


# --- Testing & Quality ---
pytest